.ui3-toast{
    font-size: 16px;
    color: #333;
    padding: 12px 20px;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0px 4px 12px #333;
}

.ui3-toast-success, .ui3-toast-error, .ui3-toast-loading, .ui3-toast-notice{
    padding-left: 60px;
    background-image: url('./imgs/success.png');
    background-position: 20px center;
    background-repeat: no-repeat;
    text-align: center;
}

.ui3-toast-loading{
    background-image: url('./imgs/loading.gif');
}

.ui3-toast-error{
    background-image: url('./imgs/error.png');
}

.ui3-toast-notice{
    background-image: url('./imgs/notice.png');
}